section{
    display:grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "artistsDob   artistsDobDisplay"
    "artistsSong   artistsSongDisplay"
    "artistsGenre  artistsGenreDisplay"
    "submitButton  submitButton";
}
h1{
    margin-top: 3vh;
    margin-left: 41vw;
    margin-bottom: 3vh;
}

#artistsDob{
    grid-area: artistsDob;
    border: 1px solid black;
    display:block;
    margin-bottom: 3vh;

}

#artistsSong{
    grid-area:artistsSong;
    border: 1px solid black;
    display:block;
    margin-bottom: 3vh;
    
}

#artistsGenre{
    grid-area: artistsGenre;
    border: 1px solid black;
    display: block;

}

#artistsDob,#artistsSong,#artistsGenre,label,button{
    margin-left:45vw;
    
}

#artistsDobDisplay{
    grid-area: artistsDobDisplay;
    font-size: 1em;
    margin: .5px 15px 37px;
}

#artistsSongDisplay{
    grid-area: artistsSongDisplay;
    font-size: 1em;
    margin: 10px 15px 40px;
}

#artistsGenreDisplay{
    grid-area: artistsGenreDisplay;
    font-size: 1em;
    margin: 10px 15px;
}
.alert{
    font-size: .75rem;
    font-weight: bold;

}

.alert-danger{
    color:red;
    margin-left: 46vw;
    padding: 2px;

}

button{
    margin-top: 2vh;
}